#header img.mainheader
{
	position: relative;
	left: 15px;
}

#header img.background
{
  margin-top:-6px;  
  position: relative;
  padding-left: 22px;
  top: -3px;
  left: 42px;  
}

#header #nav ul {
  left:35px;
  top: -51px;  
}