#header img.mainheader
{
	position: relative;
	left: 25px;
}

#header img.background
{
  margin-top:-6px;  
  position: relative;
  padding-left: 47px;
  top: -3px;
  left: 45px;
  width: 640px;
}

#header #nav ul {
  left:28px;
  top: -51px;  
}