body
{	
	font: normal 0.8em/1.4em Arial, Verdana, sans-serif; color: #666666;
	margin: 0px 100px 0px 1px;
}

a 
{
	color: #00008B !important;
	text-decoration: none;
}

h1
{
	font-size: 1.4em;
	left: 100px;
	width: 775px;
	top: -20px;
	position: relative;	
	border-bottom: 1px solid #E5DFD4;
	line-height: 20px;
	color: #00008B;
	padding-bottom: 5px;
}

ul.tab-nav
{
	list-style: none;
	margin-left: 64px;
	position: absolute;
}

.tab
{
	position: absolute;	
	left: 271px;
	top: 223px;
	width: 505px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;	
}

#header #nav ul
{
	list-style: none;
	position: relative;
	left: 60px;
	top: -40px;
}

h2
{
	font-size: 1.1em;
}

#header img.background
{
	margin-top: 0px;
}

a:hover, a:focus
{
	text-decoration: underline;
}

img 
{
	border: none;
}

#content
{
	position: absolute;
	width: 1000px;
	background-color: white;
}

#content a
{
	color: #00008B !important;
}

#content a:hover, a:focus
{
	font: normal 1.0em/1.4em Arial, Verdana, sans-serif; color: #00008B !important;
	text-decoration: underline;
}

#content p
{
	padding-left: 100px;
	width: 775px;
}

#left-border img
{
	position: absolute;
	left: 25px;
	top: 25px;
}

#right-border img
{
	position: absolute;
	right: 108px;
	top: 25px;
}

#header img
{
	padding-left: 40px;
}

#header img.bottom
{
	position: absolute;
	left: 0px;
	top: 79px;
}

img.home-image
{
	float: right;
	margin: 5px;
}

#header #nav ul li
{
	display: inline;		
	padding-right: 30px;	
}

#header #nav ul li a, a:hover, a:focus
{
	color: Orange !important;
	font-weight: bold;
	font-size: 1.0em;
}

#header #nav ul li a:hover, a:focus
{
	color: #00008B !important;
	text-decoration: none;
}

#header #nav ul li a.on
{
	color: #00008B !important;
	font-weight: bold;
}

#content img.border
{
	padding-left: 38px;
}

#content img.divider
{
	padding-left: 38px;
	padding-bottom: 10px;
}

ul.tab-nav li 
{
	width: 150px;
	height: 30px;
	text-align: left;
	padding: 8px;
	border-left-style: solid;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}

ul.tab-nav li.bottom
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

ul.tab-nav li.selected
{
	background-color: #A9A9A9;
}

.tab img.logo
{
	float: left;
	margin: 15px 15px 0px 8px;
}

.no-margin
{
	margin: 0px !important;
}

.tab img.product-image
{
	float: left;
	padding-right: 5px;
}

ul.product-list
{
	list-style-type: none;
	left: -31px;
	position: absolute;
}

ul.product-list li
{
	padding-bottom: 85px;
	padding-right: 10px;
}

ul.product-list li img
{
	display: inline;
	float: left;
	margin-top: 2px;
	margin-right: 8px;
}

.tab ul li
{
	width: 490px;
}

#bwcontrols
{
	height: 1300px;
}

#rxc
{
	height: 1170px;
}